/* 

fieldset{
    border: 1px solid black;
    border-radius: 6px;
} */
.form-select:focus{box-shadow: none;}
.form-select{height: 38px;font-size: 12px;color: #b5b9bd;width: 58%;}
label{font-size: 14px;font-weight: 500;}
.px-3{padding-left: 0 !important;}
.form-control{height: 38px;font-size: 12px;color: #b5b9bd;width: 58%;}
.btnn{display: block;margin: auto;}
